<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="col-md-10">
                            <p style="margin-top:10px; font-size: 22px;">Create A New Boat</p>
                        </div>
                        <div class="col-md-2"></div>
                        <hr>
                    </div>
                    <div class="card-body" id="tableContainer">
                        <div class="row">
                            <ul style="color:red;" id="errors">
                            </ul>
                        </div>
                        <form id="createBoatForm">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group bmd-form-group">
                                        <input id="serialNumber" name="serialNumber" type="text" class="form-control"
                                               placeholder="Serial number" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group bmd-form-group">
                                        <input id="name" name="name" type="text" class="form-control"
                                               placeholder="Boat Name" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group bmd-form-group">
                                        <select id="owners" name="owners" class="form-control selectpicker"
                                                data-style="btn btn-link">
                                            <option value="none">Select Owner</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group bmd-form-group">
                                        <select id="boatType" name="boatType" class="form-control selectpicker"
                                                data-style="btn btn-link">
                                            <option value="-1" style="color: #aeadad" selected disabled>Select Boat
                                                Type
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row col-md-6">
                                <div class="form-check col-md-4">
                                    <label style="margin-top: 20px" class="form-check-label">
                                        <input id="isWide" class="form-check-input" type="checkbox" value="">
                                        Is Wide
                                        <span class="form-check-sign"><span class="check"></span></span>
                                    </label>
                                </div>
                                <div class="form-check col-md-4">
                                    <label style="margin-top: 20px" class="form-check-label">
                                        <input id="isSeaBoat" class="form-check-input" type="checkbox" value="">
                                        Is Sea Boat
                                        <span class="form-check-sign"><span class="check"></span></span>
                                    </label>
                                </div>
                                <div class="form-check col-md-4">
                                    <label style="margin-top: 20px" class="form-check-label">
                                        <input id="isDisable" class="form-check-input" type="checkbox" value="">
                                        Is Disable
                                        <span class="form-check-sign"><span class="check"></span></span>
                                    </label>
                                </div>
                            </div>
                            <hr style="margin-top: 70px">
                            <div class="row">
                                <div class="col-md-6"></div>
                                <div class="col-md-3">
                                    <a class="btn btn-dark btn-block" href="/boats/index">
                                        Back
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <button id="createBoatBtn" type="submit" class="btn btn-blue btn-block">Create
                                        Boat
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/public/scripts/views/boats/create.js"></script>
</div>

