<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-10">
                                <p style="margin-top:10px; font-size: 22px;">Update Boat</p>
                            </div>
                            <div class="col-md-2">
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="card-body" id="tableContainer">
                        <div class="row">
                            <ul style="color:red;" id="errors">
                            </ul>
                        </div>
                        <form id="updateBoatForm">
                            <input id="serialNumber" name="serialNumber" value="{serialNumber}" type="hidden"
                                   class="form-control" required>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group bmd-form-group">
                                        <label for="name">Boat Name</label>
                                        <input id="name" name="name" value="{name}" type="text" class="form-control"
                                               placeholder="Boat Name" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group bmd-form-group">
                                        <label for="owners">Select Owner</label>
                                        <select id="owners" name="owner" class="form-control"
                                                data-style="btn btn-link">
                                            <option value="none">None</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group bmd-form-group">
                                        <label for="boatType">Boat Type</label>
                                        <select id="boatType" name="type" class="form-control"
                                                data-style="btn btn-link">
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row col-md-6">
                                <div class="form-check col-md-4">
                                    <label style="margin-top: 20px; margin-left: 20px" class="form-check-label">
                                        <input id="isWide" class="form-check-input" type="checkbox" {isWide}>
                                        Is Wide
                                        <span class="form-check-sign"><span class="check"></span></span>
                                    </label>
                                </div>
                                <div class="form-check col-md-4">
                                    <label style="margin-top: 20px; margin-left: 20px" class="form-check-label">
                                        <input id="isSeaBoat" class="form-check-input" type="checkbox" {isSeaBoat}>
                                        Is Sea Boat
                                        <span class="form-check-sign"><span class="check"></span></span>
                                    </label>
                                </div>
                                <div class="form-check col-md-4">
                                    <label style="margin-top: 20px; margin-left: 20px" class="form-check-label">
                                        <input id="isDisable" class="form-check-input" type="checkbox" {isDisable}>
                                        Is Disable
                                        <span class="form-check-sign"><span class="check"></span></span>
                                    </label>
                                </div>
                            </div>
                            <hr style="margin-top: 70px">
                            <div class="row">
                                <div class="col-md-6"></div>
                                <div class="col-md-3">
                                    <a class="btn btn-dark btn-block" href="/boats/index">
                                        Back
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <button id="updateBoatBtn" type="submit" class="btn btn-blue btn-block">Update
                                        Boat
                                    </button>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/public/scripts/views/boats/update.js"></script>
</div>

