
#chatCount {
    font-size: 12px;
    color: white;
    padding: 4px 6px;
    border-radius: 50%;
    background-color: #000000;
    position: relative;
    right: 18px;
    bottom: 20px;
}

#chatImgContainer {
    overflow: visible;
}

.chatBtn {
    border: none;
    position: fixed;
    outline: none;
    cursor: pointer !important;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.infoCard > div > div > div > input, textarea, span {
    cursor: default !important;
}


#updateRowerForm > div > div > div input, textarea, span, select {
    cursor: default !important;
}

.infoCard > div > div > .form-group {
    text-align: left !important;
}

.gj-datepicker-bootstrap > span.input-group-append {
    display: none;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.select2 {
    width: 100% !important;
}

.rowersSelect {
    overflow-y: auto;
    overflow-x: auto;
    width: 100%;
}

@media only screen and (min-device-width: 576px) {
    .approveRequestRightButton {
        margin-top: 20px;
    }
}

@media only screen and (max-device-width: 576px) {

    #deleteFromRequestBtn img {
        transform: rotate(90deg);
    }

    #addToRequestBtn img {
        transform: rotate(90deg);
    }
}
